{% extends 'base.html' %}


{% block title %}Update Password{% endblock title %}

{% block body %}

<div class="login_form_container">
    <div class="box" style="height: 500px!important; width: 420px;">
        <form method="post" action="/updatePassword" class="form">
            {% csrf_token %}
            <h2>Change Password</h2>
            <div class="inputBox">
                <input type="password" id="firstPass" name="firstPass" required>
                <span>Enter Previous Password</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" id="newpassword" name="newpassword" required>
                <span>Set New Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="/login">Login</a>
            </div>
            <input type="submit" style="width: 190px;" value="Update Password">
        </form>
    </div>
</div>

{% endblock body %}